@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=Roboto:wght@700&display=swap');

/* Basic setup */
body {
  font-family: Manrope, Arial;
}

.navbar {
  --bs-navbar-nav-link-padding-x: 1.75rem;
}

.btn {
  border-radius: 0px;
  padding: 10px 20px;
}

.bg-2 {
  background-color: #121212;
}

.border-custom {
  border: 1px solid #444;
  transition: all 0.4s ease-in-out;
}

.border-custom:hover {
  border-color: var(--bs-blue);
}

/* Icons */
.icon {
  width: 60px;
  height: 60px;
  background-color: #555;
  align-content: center;
  display: grid;
  text-align: center;
  font-size: 32px;
  color: white;
  transition: all 0.4s ease-in-out;
}

.icon:hover {
  background-color: var(--bs-blue);
}

.service:hover .icon {
  background-color: var(--bs-blue);
}

/* Swiper dots */
.swiper-pagination-bullet {
  background-color: white !important;
  color: white !important;
}


/* Project */
.project {
  overflow: hidden;
  position: relative;
}

.project .overlay {
  padding: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(60px);
}

.project:hover .overlay {
  opacity: 1;
  transform: translateY(0px);
}

/* Review Image */
.review img {
  width: 90px;
  border-radius: 100px;
}

/* Team member */
.team-member .divider {
  background-color: #555;
  height: 1px;
}

.team-member .links .icon {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: 1px solid #555;
  font-size: 25px;
  color: white;
}

.team-member .links .icon:hover {
  background-color: var(--bs-blue);
  border-color: var(--bs-blue);
}

/* contact */
#contact .form-control {
  background-color: transparent;
  border: 1px solid #555;
  border-radius: 0px;
  color: white;
}

/* Insta-section */
#insta-section {
  position: relative;
}

#insta-section .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
}

/* Scroll to top btn */
.scroll-to-top {
  text-decoration: none;
  border-radius: 50px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
}

.scroll-to-top:hover {
  color: white;
}

/* Scroll media query */
@media screen and (max-width: 500px) {
  .scroll-to-top {
    display: none;
    size: 0px;
    background: transparent;
    color: transparent;
    cursor: not-allowed;
    pointer-events: none;
  }
}